<?xml version="1.0" encoding="utf-8" ?>
<data>
	<config>
		<idle_time>5</idle_time>
	</config>
	<videos>
		<video source="videos/Walls_1.flv" isintro="1">
			<words>
			</words>
		</video>
		<video source="videos/Walls_2.flv" isidle="1">
			<words>
			</words>
			<scenes>
				<scene start="0" duration="8"></scene>
				<scene start="8" duration="10"></scene>
				<scene start="18" duration="12"></scene>
				<scene start="30" duration="13"></scene>
				<scene start="43" duration="15"></scene>
			</scenes>
		</video>
		<video source="videos/Walls_3.flv">
			<words>
				<word>cium</word>
			</words>
		</video>
		<video source="videos/Walls_4.flv">
			<words>
				<word>ngintip</word>
				<word>melumat</word>
				<word>lumat</word>
				<word>nelen</word>
				<word>telen</word>
			</words>
		</video>
		<video source="videos/Walls_5.flv">
			<words>
				<word>makan</word>
				<word>olah raga</word>
				<word>gym</word>
				<word>pamer otot</word>
				<word>otot</word>
				<word>sexy</word>
			</words>
		</video>
		<video source="videos/Walls_6.flv">
			<words>
				<word>makan</word>
				<word>olah raga</word>
				<word>gym</word>
				<word>pamer otot</word>
				<word>otot</word>
				<word>berpose</word>				
				<word>pose</word>
			</words>
		</video>
		<video source="videos/Walls_7.flv">
			<words>
				<word>lari</word>
				<word>joging</word>
				<word>cium</word>
			</words>
		</video>
		<video source="videos/Walls_8.flv">
			<words>
				<word>makan</word>
				<word>bengong</word>
				<word>melamun</word>
				<word>ngelamun</word>
				<word>merenung</word>
			</words>
		</video>
		<video source="videos/Walls_9.flv">
			<words>
				<word>liat</word>
				<word>melihat</word>
				<word>kagum</word>
				<word>mengagumi</word>
				<word>terpesona</word>
				<word>pengen</word>
			</words>
		</video>
		<video source="videos/Walls_10.flv" isbadword="1">
			<words>
			</words>
		</video>
		<video source="videos/Walls_11.flv" isbadword="1">
			<words>
			</words>
		</video>
		<video source="videos/Walls_12.flv">
			<words>
				<word>bagi</word>
				<word>minta</word>
			</words>
		</video>
		<video source="videos/Walls_13.flv" isunknownword="1">
			<words>
				<word></word>
			</words>
		</video>
		<video source="videos/Walls_14.flv">
			<words>
				<word>pukul</word>
			</words>
		</video>
		<video source="videos/Walls_15.flv" isbadword="1">
			<words>
			</words>
		</video>
		<video source="videos/Walls_16.flv" isbadword="1">
			<words>
			</words>
		</video>
		<video source="videos/Walls_17.flv">
			<words>
				<word>bagi</word>
				<word>share</word>
				<word>berteman</word>
				<word>berkawan</word>
				<word>berbagi</word>
			</words>
		</video>
		<video source="videos/Walls_18.flv">
			<words>
				<word>telanjang</word>
				<word>naked</word>
				<word>buka baju</word>
			</words>
		</video>
		<video source="videos/Walls_19.flv">
			<words>
				<word>cium</word>
				<word>kiss</word>
				<word>sosor</word>
			</words>
		</video>
		<video source="videos/Walls_20.flv">
			<words>
				<word>telanjang</word>
				<word>naked</word>
				<word>buka baju</word>
			</words>
		</video>
		<video source="videos/Walls_21.flv">
			<words>
				<word>jilat</word>
				<word>lick</word>
				<word>enjoy</word>
				<word>menikmati</word>
			</words>
		</video>
	</videos>
	<badwords>
		<word>Anjing</word>
		<word>Bangsat</word>
		<word>Bispak</word>
		<word>Bloon</word>
		<word>Dancuk</word>
		<word>Eek</word>
		<word>Pecun</word>
		<word>Pelacur</word>
		<word>Jancuk</word>
		<word>Kontol</word>
		<word>tai</word>
		<word>Memek</word>
		<word>nono</word>
		<word>Monyong</word>
		<word>Ngentot</word>
		<word>Palkon</word>
		<word>Peler</word>
		<word>Sampah</word>
		<word>Sempak</word>
		<word>Sinting</word>
		<word>Sperma</word>
		<word>Tahi</word>
		<word>bajingan</word>
		<word>brengsek</word>
		<word>goblok</word>
		<word>kontol</word>
		<word>jancok</word>
		<word>kalempong</word>
		<word>titit</word>
		<word>meki</word>
		<word>memek</word>
		<word>ngewe</word>
		<word>ngocok</word>
		<word>palaji</word>
		<word>peju</word>
		<word>perek</word>
		<word>pukimak</word>
		<word>toket</word>
	</badwords>
</data>